ahm_mfg_galc-development/ahm_mfg_galc-development/base-service/src/main/resources/META-INF/wsdl/WdsWebDataServerInterface.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="http://www.WdsWebDataServerInterface.com/WdsWebDataServerInterface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.WdsWebDataServerInterface.com/WdsWebDataServerInterface">
            <xsd:complexType name="WdsValueDefinition">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="description" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string"/>
                </xsd:sequence>
        </xsd:complexType>
		<xsd:complexType name="WdsAvailableValues">
   			<xsd:sequence>
		      <xsd:element maxOccurs="unbounded" minOccurs="0" name="definition" type="tns:WdsValueDefinition"/>
		    </xsd:sequence>
		</xsd:complexType>
	<xsd:complexType name="WdsHttpValue">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="valueString" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WdsValueList">
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:WdsValueCollection"/>
                        </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WdsValueNameList">
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
                        </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WdsValueCollection">
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:WdsHttpValue"/>
                        </xsd:sequence>
            </xsd:complexType>
   </xsd:schema>
