ahm_mfg_galc-development/ahm_mfg_galc-development/base-service/src/main/resources/META-INF/wsdl/WdsWebDataServerInterface-interface.wsdl

<?xml version="1.0"?>
<!--  Generated by VisualAge Smalltalk Web Services on 02/11/2002 at 10:52:37 AM -->
<definitions name="WdsWebDataServerInterface-interface" targetNamespace="http://www.WdsWebDataServerInterface.com/WdsWebDataServerInterface-interface"
	 xmlns="http://schemas.xmlsoap.org/wsdl/"
	 xmlns:tns="http://www.WdsWebDataServerInterface.com/WdsWebDataServerInterface-interface"
	 xmlns:tin="http://www.WdsWebDataServerInterface.com/WdsWebDataServerInterface"
	 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<types>
		<xsd:schema targetNamespace="http://www.WdsWebDataServerInterface.com/WdsWebDataServerInterface1"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:import namespace="http://www.WdsWebDataServerInterface.com/WdsWebDataServerInterface"
				schemaLocation="WdsWebDataServerInterface.xsd" />
		</xsd:schema>
	</types>

   <message name="currentValueResponse">
        <part name="currentValues" type="tin:WdsValueCollection"/>
    </message>
    <message name="currentValueRequest">
        <part name="valueName" type="xsd:string"/>
    </message>
    <message name="availableValuesResponse">
        <part name="valueList" type="tin:WdsAvailableValues"/>
    </message>
    <message name="availableValuesRequest">   </message>
    <message name="currentValuesRequest">
        <part name="valuesList" type="tin:WdsValueNameList"/>
    </message>
    <message name="currentValuesResponse">
        <part name="currentValues" type="tin:WdsValueList"/>
    </message>
    <message name="updateStringValueRequest">
        <part name="valueName" type="xsd:string"/>
        <part name="newValue" type="xsd:string"/>
    </message>
    <message name="updateIntegerValueRequest">
        <part name="valueName" type="xsd:string"/>
        <part name="newValue" type="xsd:integer"/>
    </message>
    <message name="updateFloatValueRequest">
        <part name="valueName" type="xsd:string"/>
        <part name="newValue" type="xsd:float"/>
    </message>
    <message name="updateValuesRequest">
        <part name="valueName" type="tin:WdsValueCollection"/>
    </message>
    <message name="updateValueResponse">
        <part name="status" type="xsd:boolean"/>
    </message>


	<portType name="WdsWebDataServerInterfacePort">
		<operation name="currentValue">
			<input message="tns:currentValueRequest"/>
			<output message="tns:currentValueResponse"/>
		</operation>
		<operation name="currentValues">
			<input message="tns:currentValuesRequest"/>
			<output message="tns:currentValuesResponse"/>
		</operation>
		<operation name="availableValues">
			<input message="tns:availableValuesRequest"/>
			<output message="tns:availableValuesResponse"/>
		</operation>
		<operation name="updateStringValue">
			<input message="tns:updateStringValueRequest"/>
			<output message="tns:updateValueResponse"/>
		</operation>
		<operation name="updateIntegerValue">
			<input message="tns:updateIntegerValueRequest"/>
			<output message="tns:updateValueResponse"/>
		</operation>
		<operation name="updateFloatValue">
			<input message="tns:updateFloatValueRequest"/>
			<output message="tns:updateValueResponse"/>
		</operation>
		<operation name="updateValues">
			<input message="tns:updateValuesRequest"/>
			<output message="tns:updateValueResponse"/>
		</operation>

	</portType>
	<binding name="WdsWebDataServerInterfaceBinding" type="tns:WdsWebDataServerInterfacePort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="availableValues">
			<soap:operation soapAction="http://www.WdsWebDataServerInterface.com/WdsWebDataServerInterface-interface/availableValues"/>
			<input>
				<soap:body use="literal" namespace="urn:WdsWebDataServerInterface"  encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:WdsWebDataServerInterface" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
			</output>
		</operation>
		<operation name="currentValue">
			<soap:operation soapAction="http://www.WdsWebDataServerInterface.com/WdsWebDataServerInterface-interface/currentValue"/>
			<input>
				<soap:body use="literal" namespace="urn:WdsWebDataServerInterface" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:WdsWebDataServerInterface" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
			</output>
		</operation>
		<operation name="currentValues">
			<soap:operation soapAction="http://www.WdsWebDataServerInterface.com/WdsWebDataServerInterface-interface/currentValues"/>
			<input>
				<soap:body use="literal" namespace="urn:WdsWebDataServerInterface" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:WdsWebDataServerInterface" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
			</output>
		</operation>
		<operation name="updateStringValue">
			<soap:operation soapAction="http://www.WdsWebDataServerInterface.com/WdsWebDataServerInterface-interface/currentValues"/>
			<input>
				<soap:body use="literal" namespace="urn:WdsWebDataServerInterface" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:WdsWebDataServerInterface" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
			</output>
		</operation>
		<operation name="updateIntegerValue">
			<soap:operation soapAction="http://www.WdsWebDataServerInterface.com/WdsWebDataServerInterface-interface/currentValues"/>
			<input>
				<soap:body use="literal" namespace="urn:WdsWebDataServerInterface" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:WdsWebDataServerInterface" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
			</output>
		</operation>
		<operation name="updateFloatValue">
			<soap:operation soapAction="http://www.WdsWebDataServerInterface.com/WdsWebDataServerInterface-interface/currentValues"/>
			<input>
				<soap:body use="literal" namespace="urn:WdsWebDataServerInterface" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:WdsWebDataServerInterface" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
			</output>
		</operation>
               <operation name="updateValues">
                        <soap:operation soapAction="http://www.WdsWebDataServerInterface.com/WdsWebDataServerInterface-interface/updateValues"/>
                        <input>
                                <soap:body use="literal" namespace="urn:WdsWebDataServerInterface" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
                        </input>
                        <output>
                                <soap:body use="literal" namespace="urn:WdsWebDataServerInterface" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
                        </output>
                </operation>

	</binding>
</definitions>
