ahm_mfg_galc-development/ahm_mfg_galc-development/device-simulator/src/main/resources/resource/com/honda/galc/device/simulator/client/ui/applicationmenu.dtd

<!--      GALC Menu     -->

<!ELEMENT rootmenu (submenu+)>
<!ELEMENT submenu (menuitem*)>
<!ELEMENT menuitem (#PCDATA)>
<!ATTLIST rootmenu name CDATA #REQUIRED>
<!ATTLIST submenu name CDATA #REQUIRED>
<!ATTLIST submenu tooltip CDATA #IMPLIED>
<!ATTLIST submenu mnemonic CDATA #IMPLIED>
<!ATTLIST menuitem name CDATA #REQUIRED>
<!ATTLIST menuitem action CDATA #REQUIRED>
<!ATTLIST menuitem tooltip CDATA #IMPLIED>
<!ATTLIST menuitem mnemonic CDATA #IMPLIED>